/*Initialize--------------------------------------*/

*{
    height: auto;
    margin: 0;

    padding: 0;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-weight: 500;
    font-size: 20px;

}

body{
    border: 0px;
    display: flex;
    flex-direction: column;

}

.container{
    height: fit-content;
    background-color: #0066ff;
}

::-webkit-calendar-picker-indicator{
    margin-left: -15px;
}


/*Top Section--------------------------------------*/
.top{
    border: solid 0px;
    text-align: center;
    height: 500px;
    background-color: rgba(46, 51, 57, 0.92);

    box-shadow: rgba(46, 51, 57, 0.88) 0px 30px 60px 12px,
                rgba(0, 0, 0, 1.3) 0px 18px 36px -18px;
}

.logo{
    position: relative;
    font-weight: 900;
    font-size: 150px;
    text-shadow: 0px 0px 40px rgba(150, 150, 150, 0.4);
    color: #111417;
    top: 25%;
    box-shadow: #111417;
}

.mid{

    background-color: rgba(46, 51, 57, 0);
    display: block;
    justify-content: center;
    align-content: center;
    padding: 2.5% 30% 0 0%;
}

/* Rest of Website*/
.bottom{
    background-color: rgba(46, 51, 57, 0.0);
    border: solid 0;
    padding-top: 0px;
    min-height: 800px;
    height:100%;
}

/* Entire area that asks for thr user-input --------------------------------------*/
.input{
    display: flex;
    border: 0;
    border: solid 0px;
    text-align: center;
    height: auto;
    padding: 0 0%;
    justify-content: center;
    gap: 20px;

}

.label{
    flex: 1 1 100%;
    text-align: right;
    align-self: center;
    font-size: 45px;
    padding-bottom: 10px;
    margin-left: 5%;
}

/*A TODO Card + all components*/
.todo {
    display: grid;
    grid-template-columns: repeat(2, 1.2fr) 0.6fr;
    grid-template-rows: 1.6fr 0.8fr 0.7fr;
    grid-auto-flow: row;
    grid-template-areas:
    "todo_text todo_text todo_text"
    "deadline priority add"
    "deadline priority add";

    flex: 1 1 100%;
    border-radius: 20px;
    font-size: 25px;
    color: white;
    background-color: #888888;
    border-style: hidden;
    box-shadow: 0 0 15px 0px #3d3d3d;
    text-shadow: 0px 0px 6px rgba(66,66,66,.85);
    height: 150px;
    padding: 10px 10px;
    /*margin-right: 33%;*/
}

.card{
    display: grid;
    grid-template-columns: repeat(2, 1.2fr) 0.6fr;
    grid-template-rows: 1.6fr 0.8fr 0.7fr;
    grid-auto-flow: row;
    grid-template-areas:
    "todo_text todo_text todo_text"
    "deadline priority done"
    "deadline priority remove";

    flex: 1 1 100%;
    border-radius: 20px;
    font-size: 25px;
    color: white;
    background-color: #888888;
    border-style: hidden;
    box-shadow: 0 0 15px 0px #3d3d3d;
    text-shadow: 0px 0px 6px rgba(66,66,66,.85);
    height: 150px;
    padding: 10px 10px;
    /*margin-right: 33%;*/
}

.todo_text {
    background-color: rgb(180 180 180);
    margin-bottom: 10px;
    grid-area: todo_text;
    border-radius: 15px;
    padding: 15px;
}

.text-box{
    width: 100%;
    height: 100%;
    background-color: rgb(180 180 180);
    border-radius: 15px;
    border: 0;
}text-box:hover {
     border: 0;
 }

 /*set up all buttons -------------------------------------- */
button {
    border: 0;
    box-shadow: 0px 0px 15px 1px #4f4f4f;
    background-color:#ff6600;
    border-radius:8px;
    cursor:pointer;
    color:#ffffff;
    font-size:25px;
    padding:0px 0px;
    text-decoration:none;
    text-shadow:0px 1px 0px #5c5c5c;
}button:hover {
     background-color: orangered;
 }
button:active {
    position: relative;
    background-color: orangered;
    top: 1px;
}

button .p{
    border: 0;
    margin: 2px 0% 0px 2px;
    box-shadow: 0px 0px 15px 1px #4f4f4f;
    background-color:#ff6600;
    border-radius:17px;
    cursor:pointer;
    color:#ffffff;
    font-size:25px;
    padding:0px 0px;
    text-decoration:none;
    text-shadow:0px 1px 0px #5c5c5c;
}

.deadline {

    grid-area: deadline;
    border-radius: 20px;
    background-color: #0066ff;
    padding: 0 10px;
}

.final_date{
    padding-right: 0px;
    width: 150px;
}

.date{
    height: 100%;

    background-color: #0066ff;
    border-radius: 20px;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    color: rgb(180, 180, 180);
}

.final_date{
    width: 200px;
}

.done{
    font-size: 60%;
    padding: 0 0px;
}

.remove{
    font-size: 60%;
    margin-top: 3px;
}

.p{
    font-size: 110%;
    width: 100%;
    margin: 0;
}

.a{
    font-size: 110%;
    width: 100%;
}

.priority{

    justify-items: center;
    padding: 0 5px 0 5px;
    display: grid;
    gap: 0;
    height: 50px;
    grid-template-areas:
    "z z"
    "a b"
    "c d";
    grid-area: priority;
}

.p_heading{
    grid-area: z;
    font-size: 14px;
    align-self: center;
}

.input .priority {
    font-size: 14px;
    grid-template-columns: 0.8fr 0.8fr;
    grid-template-rows: 23px 22px 22px;
    gap: 3px 3px;
}

.list .priority {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}


.list{
    overflow: hidden;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: fit-content;
    padding: 50px 10%;
}


.add{
    grid-area: add;
    height: 100%;
    padding: 0 0px;
    margin: 0;
}

.color1 {color: #111417;}
.color2 {color: #2e3339;}
.color3 {color: #505b63;}
.color4 {color: #7a8d97;}
.color5 {color: #abc9d3;}